@import 'variables';
@import 'reset';
@import 'theme';
@import 'loader';


@keyframes toast{
	0% {
		transform: translate(0, 50px);
	}

	10% {
		transform: translate(0, 0);
	}

	90% {
		transform: translate(0, 0);
	}

	100% {
		transform: translate(300px, 0);
	}
}


.toast {
	position: fixed;
	width: 300px;
	height: 50px;
	line-height: 50px;
	background: $green;
	text-shadow: 0 1px 0 $off-white;
	color: $black;
	bottom: 20px;
	right: 20px;
	font-size: 1em;
	text-align: center;
	transform: translate(0, 80px);
	animation: 2s toast ease-in-out;
}

.donate-plea{
	width:50%;
	font-size:.75em;
		float:right;
		text-align:right;
	form{
		float:right;

	}
}

header {
	.language-select {
		margin-bottom: -41px;
	}
}

.badges{
	  margin-top: -30px;
}

.language-select {
	margin: 20px 0 0 -50px;
	padding: 0;
	width:auto;
	position:fixed;
	list-style:none
}

.flag {
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: contain;
	display: inline-block;
	height: 30px;
	line-height: 1em;
	position: relative;
	width: 40px;
	&:hover{
		box-shadow: 0 0 5px 0 $highlight-color;
	}

	&:before {
		content: '\00a0';
	}

	&.flag-us {
		background-image: url('images/flags/us.svg');
	}

	&.flag-pt {
		background-image: url('images/flags/pt.svg');
	}
}

.social {
	margin-top: -40px;

	.chicklets {
		text-indent: -9999px;
	}
}

em{
	color:$border-color;
	display:block;
}

fieldset {
	border:1px solid $border-color;
	background:$off-white;
	padding:20px;
	margin:20px 0;
}
legend{
	border:1px solid $border-color;
	background:$off-white;
	padding:5px 10px;
}


[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
	display: none !important;
}
